flows_mi4.json
[{"type":"tab","id":"25253aa1.dadac6","label":"小米4抢购"},{"id":"23b2156a.dc4dea","type":"inject","name":"触发一次","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":157,"y":274,"z":"25253aa1.dadac6","wires":[["b72ac6e9.48d538"]]},{"id":"b72ac6e9.48d538","type":"http request","name":"获取小米4页面","method":"GET","ret":"txt","url":"http://item.mi.com/buyphone/mi4","credentials":{},"x":346,"y":277,"z":"25253aa1.dadac6","wires":[["1548620.feab79e","1da021fc.e25fde"]]},{"id":"1548620.feab79e","type":"switch","name":"判断内容是否和上一次的获取相同","property":"payload","rules":[{"t":"eq","v":"context.mi4"},{"t":"else"}],"checkall":"true","outputs":2,"x":598,"y":279,"z":"25253aa1.dadac6","wires":[["5605d417.a9fa2c"],["885d0c98.77a2f"]]},{"id":"5605d417.a9fa2c","type":"debug","name":"不做改变","active":true,"console":"false","complete":"payload.length","x":856,"y":258,"z":"25253aa1.dadac6","wires":[]},{"id":"885d0c98.77a2f","type":"exec","command":"firefox","append":"http://item.mi.com/buyphone/mi4","useSpawn":"","name":"打开小米4的Web页面","x":875,"y":315,"z":"25253aa1.dadac6","wires":[[],[],[]]},{"id":"1da021fc.e25fde","type":"delay","name":"延迟0.1秒","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":342,"y":219,"z":"25253aa1.dadac6","wires":[["b72ac6e9.48d538"]]}]