flows_mi4.json
[{"type":"tab","id":"25253aa1.dadac6","label":"小米4抢购"},{"id":"23b2156a.dc4dea","type":"inject","name":"触发一次","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":157,"y":274,"z":"25253aa1.dadac6","wires":[["b72ac6e9.48d538"]]},{"id":"b72ac6e9.48d538","type":"http request","name":"获取小米4页面","method":"GET","ret":"txt","url":"http://item.mi.com/buyphone/mi4","x":346,"y":277,"z":"25253aa1.dadac6","wires":[["99c91fc9.6636e","b55e66a7.4aa198"]]},{"id":"885d0c98.77a2f","type":"exec","command":"firefox","append":"http://item.mi.com/buyphone/mi4","useSpawn":true,"name":"打开小米4的Web页面","x":1043,"y":289,"z":"25253aa1.dadac6","wires":[[],[],[]]},{"id":"1da021fc.e25fde","type":"delay","name":"延迟1秒","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":439,"y":178,"z":"25253aa1.dadac6","wires":[["b72ac6e9.48d538"]]},{"id":"99c91fc9.6636e","type":"function","name":"去掉headers","func":"delete msg.headers\nreturn msg;","outputs":1,"x":272,"y":179,"z":"25253aa1.dadac6","wires":[["1da021fc.e25fde"]]},{"id":"75119f60.8aee6","type":"debug","name":"","active":true,"console":"false","complete":"state","x":1007,"y":181,"z":"25253aa1.dadac6","wires":[]},{"id":"b55e66a7.4aa198","type":"function","name":"判断内容是否和获取的相同","func":"if (!context.global.mi4){\n\tmsg.state = \"init\";\n\tcontext.global.mi4 = msg.payload;\n}\nelse if (msg.payload == context.global.mi4){\n    msg.state = \"same\";\n}\nelse{\n\tmsg.state = \"diff\";\n\tcontext.global.mi4 = msg.payload;\n}\n\nmsg.payload = \"\";\n\nreturn msg;","outputs":"1","x":587,"y":277,"z":"25253aa1.dadac6","wires":[["c1475b23.3eb8a8"]]},{"id":"c1475b23.3eb8a8","type":"switch","name":"","property":"state","rules":[{"t":"eq","v":"init"},{"t":"eq","v":"same"},{"t":"eq","v":"diff"},{"t":"else"}],"checkall":"true","outputs":4,"x":780,"y":275,"z":"25253aa1.dadac6","wires":[["75119f60.8aee6","885d0c98.77a2f"],["75119f60.8aee6"],["75119f60.8aee6","885d0c98.77a2f"],["75119f60.8aee6"]]}]