flows_weather.json
[{"type":"tab","id":"ba7d11ae.4582f","label":"清晨七点得闹钟提醒"},{"id":"53caae44.ac355","type":"inject","name":"周一到周五的清晨七点","topic":"天气预报","payload":"","payloadType":"date","repeat":"","crontab":"00 7 * * 1-5","once":false,"x":121,"y":24,"z":"ba7d11ae.4582f","wires":[["8a7212d2.758df"]]},{"id":"701ac3dd.8fe53c","type":"e-mail","server":"smtp.ym.163.com","port":"465","name":"103244393@qq.com","dname":"发送Email到我的QQ邮箱","x":264,"y":212,"z":"ba7d11ae.4582f","wires":[]},{"id":"3155d0bf.ceaa3","type":"inject","name":"Deploy时触发","topic":"天气预报","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":95,"y":103,"z":"ba7d11ae.4582f","wires":[["8a7212d2.758df"]]},{"id":"8a7212d2.758df","type":"http request","name":"国家气象网上海地区实时天气预报","method":"GET","ret":"obj","url":"http://www.weather.com.cn/data/cityinfo/101020100.html","x":238,"y":66,"z":"ba7d11ae.4582f","wires":[["b68e4de3.4971b"]]},{"id":"b68e4de3.4971b","type":"template","name":"Email模板","field":"payload","template":"To scaret:\n    现在是{{window.Date()}}。\n    {{payload.weatherinfo.city}}的天气情况， \n    {{payload.weatherinfo.weather}}。\n    最低气温：{{payload.weatherinfo.temp1}}。\n    最高气温：{{payload.weatherinfo.temp2}}。\n    （发布于{{payload.weatherinfo.ptime}}）\n    \n祝您不要逃课。","x":227,"y":150,"z":"ba7d11ae.4582f","wires":[["701ac3dd.8fe53c"]]}]